html{
    scroll-behavior: smooth;
    margin-top: 1vw;

}
body{
    background: linear-gradient( #ffffff 0%, #aee2e8 100%);

    font-size:2vw;
    margin:auto;
    padding-top:5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    align-items: center;
}

h1, h2, h3, h4{
    display: block;
    margin: auto;
    text-align: center;
    padding:2%;
    color:#053B50;
    size:100%;
    animation: slideInLeft 1s ease;

}
h2{
    font-size: 2.5vw;
}
p, .menu-item{
    color: #053B50;

    animation: slideInLeft 1.3s ease;
}
.menu{
    text-align: center;
    margin-left:-4%;
}
.menu-item{
    padding:1%;
    font-size: 2vw;
    display:inline;
    border:solid;
    border-color: #51a2c2;
    border-width: 0.5vw;
    background-color:#e6f2f4;
    cursor:pointer;
    transition: transform 0.2s linear;
    border-radius: 1vw;

    
}

.menu-item:active{
    background-color:#176B87;
    color:white;
    transform:translateY(4px);
}

.menu-item:hover{
    box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, 0.24), 0 1vw 1vw 0 rgba(0,0,0,0.19);

}

.bg-color{
    background-color: #80c3ca;
    padding: 1vw;
    border-radius:1vw;
    line-height: 2;
    animation: slideInLeft 1s ease;
    width:100%;
    align-items: center;
    justify-content: center;
    /*border:solid;
    border-color: #053B50;
    border-width: 3px;*/
    align-items: center;
}

@keyframes slideInLeft {
    from{
        transform:translateX(-100px);

    }
    to{
        transform:translateX(0);
    }
}


*{
    font-family: 'Trebuchet MS', sans-serif;
}

.art-piece{
    display: flex;
    align-items: center;
    justify-content: center ;
    padding-top:5%;
    padding-bottom: 5%;
}

img{
    max-width: 80%;

}

.artcaption{
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 2vw;
}

.link{
    text-decoration: none;
}
