/* Global Styles */
* {
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#ffffff 0%, #F6635C 100%);
    font-size: 2vw;
    margin: auto;
    padding: 5% 20%;
    align-items: center;
}

h1, h2, h3, h4 {
    display: block;
    margin: auto;
    text-align: center;
    padding: 2%;
}

h2 {
    font-size: 2.5vw;
}

h1, h2, h3, h4, p {
    color: #79155B;
    animation: slideInLeft 2s ease;
    opacity: 0;
}

.delayed-animation {
    animation: slideInLeft 2s ease;
    visibility: visible !important;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
        visibility: hidden;
    }
    to {
        transform: translateX(0);
        visibility: visible;
    }
}


/* Sidebar Styles */
.sidebar {
    top: 0;
    padding: none;
    position: fixed;
    left: -16.5vw;
    width: 16.5vw; 
    height: 100%;
    background: #C23373;
    transition: all .6s ease;
}


.menu-item {
    padding: 0;
    font-size: 1.5vw; 
    display: inline;
    border: 0.5vw solid; 
    border-color: #a3183b;
    background-color: #F6635C;
    cursor: pointer;
    transition: transform 0.2s linear;
    box-sizing: border-box;
}

.menu-title {
    font-size: 2.6vw;
    margin-left: 0;
    color: #380511;
    margin-top:1vw;
    text-align: center;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 6.5vw; 
    color: #ffffff;
    padding-left: 0.5vw; 
    box-sizing: border-box;
    border-top: 0.2vw solid rgba(255, 255, 255, 0.1);
    border-bottom: 0.2vw solid rgb(255, 255, 255);
    transition: 0.3s;
}

ul li:hover a {
    padding-left: 1.3vw; 
}

/* Other Sections and Art Pieces Styles */
.bg-color {
    background-color: #FFBA86;
    padding: 1vw;
    border-radius: 1vw;
    line-height: 2;
    animation: slideInLeft 4s ease;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.art-piece {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 0; 
}

img {
    max-width: 39vw; 
}

.artcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw; 
}


/* Animation */
@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
}

/* Initial state - hides text content */
.hide-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 4s, opacity 1s 4s;
}

.show-content {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1s ease;
}


/* Sidebar Toggle */
#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    background-color: #FFBA86;
    border-radius: 0.5vw; 
    position: fixed;
}

label #btn {
    top: 0.5vw;
    left: 0.5vw; 
    font-size: 3.5vw;
    color: #79155B;
    padding: 0.5vw; 
    transition: all .6s ease;
}

label #cancel {
    z-index: 1000;
    left: -16vw;
    top: 0.5vw; 
    font-size: 2vw; 
    color: #79155B;
    padding: 1vw;
    transition: all .6s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 17vw;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 17.5vw;
}

/* Contact Information */
.additional{
    width: 100%;
    margin-top: 2vw;
    padding: .6vw;
    text-align: center;
    height: 16vw;
    background-color: #FFBA86;
    border-radius: 1vw;
    display:block
}

.socials{
    color: #C23373;
    display:inline-block;
    padding-left: 2vw;
    padding-right: 2vw;
}

.socials a {
    text-decoration: none;
    color: #3A589E; 
    transition: color 0.3s;
}

.socials a:hover {
    color: #8F4DB7; 
}

.contact{
    padding-top: 6vw;
    color: #79155B;
    font-size: 4vw;
}

.socials:active {
    color: #79155B;
}

.socials:hover{
    color: #79155B;
}

/*Preloader*/
.preloader {
    top: 0;
    left: 0;
    background: #FFBA86;
    background-image: url("loading_screen.gif"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%; 
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    opacity: 1;
    transition: opacity 1s ease;
}


/*
Colour palette:
https://colorhunt.co/palette/79155bc23373f6635cffba86
*/

