/* Global Styles */
* {
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#ffffff 0%, #aee2e8 100%);
    font-size: 2vw;
    margin: auto;
    padding: 5% 20%;
    align-items: center;
}

h1, h2, h3, h4 {
    display: block;
    margin: auto;
    text-align: center;
    padding: 2%;
    color: #053B50;
    animation: slideInLeft 1s ease;
}

h2 {
    font-size: 2.5vw;
}

p {
    color: #053B50;
    animation: slideInLeft 1.3s ease;
}

/* Sidebar Styles */
.sidebar {
    top: 0;
    padding: none;
    position: fixed;
    left: -16.5vw;
    width: 16.5vw; 
    height: 100%;
    background: #479ea8;
    transition: all .6s ease;
}

.menu {
    text-align: center;
    margin-left: -3.5vw; 
    padding: 0;
}

.menu-item {
    padding: 0;
    font-size: 1.5vw; 
    display: inline;
    border: 0.5vw solid; 
    border-color: #51a2c2;
    background-color: #e6f2f4;
    cursor: pointer;
    transition: transform 0.2s linear;
    box-sizing: border-box;
}

.menu-title {
    font-size: 2.5vw;
    margin-left: 0;
    text-align: center;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 6.5vw; 
    color: #b9d8e3;
    padding-left: 0.5vw; 
    box-sizing: border-box;
    border-top: 0.2vw solid rgba(255, 255, 255, 0.1);
    border-bottom: 0.2vw solid rgb(19, 109, 121);
    transition: 0.3s;
}

ul li:hover a {
    padding-left: 1.3vw; 
}

/* Other Sections and Art Pieces Styles */
.bg-color {
    background-color: #80c3ca;
    padding: 1vw;
    border-radius: 1vw;
    line-height: 2;
    animation: slideInLeft 1s ease;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.art-piece {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 0; 
}

img {
    max-width: 39vw; 
}

.artcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw; 
}


/* Animation */
@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
}

/* Sidebar Toggle */
#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    background-color: #51b3c2;
    border-radius: 0.5vw; 
    position: fixed;
}

label #btn {
    top: 0.5vw;
    left: 0.5vw; 
    font-size: 3.5vw;
    color: black;
    padding: 0.5vw; 
    transition: all .6s ease;
}

label #cancel {
    z-index: 1000;
    left: -16vw;
    top: 0.5vw; 
    font-size: 2vw; 
    color: #053B50;
    padding: 1vw;
    transition: all .6s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 17vw;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 17.5vw;
}
